* {
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,*::after{
  box-sizing: border-box;
}
.dg.ac {
  z-index: 10 !important;
}

.bg6 .popup-close{
  top: 10% !important;
  right: 5% !important;
}

.bg7 .popup-close{
  top: 20% !important;
  right: 13% !important;
}

ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

.router-link-active {
  text-decoration: none;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}